<div class="countries-content">
	<h2 class="countries-title">Click on a country to learn more!</h2>
	<table class="ng-scope">
		<thead>
			<tr class="header-row" >
				<th>Name</th>
				<th>Country Code</th>
				<th>Capital</th>
				<th>Area in km<sup>2</sup></th>
				<th>Population</th>
				<th>Continent</th>
			</tr>
		</thead>
		<tbody>
			<tr class="country-row" ng-repeat="c in countries">
				<td><a ng-click="changeLocation(c.countryCode)" class="country-name">{{c.countryName}}</a></td>
				<td>{{c.countryCode}}</td>
				<td>{{c.capital}}</td>
				<td>{{c.areaInSqKm | number}}</td>
				<td>{{c.population | number}}</td>
				<td>{{c.continent}}</td>
			</tr>
		</tbody>
	</table>
</div>
<a class="button" href="#/">Home</a>